.head {
   
    padding: 48px 47px;
    background: #000;
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_main {
            display: flex;
            align-items: center;
            gap: 16px;
            img {
                width: 28px;
                height: 35px;
            }
            div {
                color: $white;
                @include fz(17);
                font-weight: 400;
                letter-spacing: 0.3px;
            }
        }

        &_list {
            display: flex;
            gap: 38px;
        }
        &_link {
            color: $white_transparent;
            @include fz(15);
            letter-spacing: 0.34px;
            &:hover {
                color: $white;
            }
        }
    }
}
.fixed_pos {
    position: fixed;
    left: 0;
    top: 0;
}